{% extends 'base.html' %}

{% block header_text %}Your To-Do List{% endblock %}
{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr>
                <td>{{ forloop.counter }}: {{ item.text }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if list.owner %}
        <p>List owner: <span id="id_list_owner">{{ list.owner.email }}</span><p>
    {% endif %}

{% endblock table %}

{% block extra_content %}
    <div class="col-md-6">
        <h2>List shared with:</h2>
        <ul>
            {% for sharee in list.shared_with.all %}
                <li class="list-sharee">{{ sharee.email }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Share this List</h2>
        <form method="POST" action="{% url  'share_list' list.id %}">
            {% csrf_token %}
            <input type="email" name="sharee" placeholder="your-friend@example.com">
        </form>
    </div>
{% endblock %}
